
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Login Successfully</h2>
        <br />
        <a href="@Url.Action("Login", "Home")">Logout</a>
    </div>
</body>
</html>
